@{
  Layout = "_Layout";
}

@using MovieClient.ViewModels

@model LoginViewModel

<div style="text-align: center">
<h2 class="title">Log in with your account</h2>
<hr />

@if(!ViewData.ModelState.IsValid) 
{
  @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:") 
}

@using (Html.BeginForm())
{
  @Html.LabelFor(m => m.Email)
  @Html.TextBoxFor(m => m.Email)<br>

  @Html.LabelFor(m => m.Password)
  @Html.EditorFor(m => m.Password)<br>

  <input type="submit" class="btn btn my-2 my-sm-2 btn-outline-dark" value="Log in" />
}

<p>


<div style="text-align: center"></div>
@Html.ActionLink("Register for an account", "Register")<br>
@Html.ActionLink("Back to accounts page", "Index")
</p>
</div>