@{
  Layout = "_Layout";
}

@using MovieClient.ViewModels

@model RegisterViewModel

<div style="text-align: center">
<h2 class="title">Register a new user</h2>
<hr />

@if(!ViewData.ModelState.IsValid) 
{
  @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:") 
}

<!-- api contact method needed? -->
<div class="form-group">
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
  @Html.LabelFor(user=> user.Name)
  @Html.EditorFor(user=> user.Name)<br>

  @Html.LabelFor(user => user.Email)
  @Html.TextBoxFor(user=> user.Email)<br>

  @Html.LabelFor(user=> user.Password)
  @Html.EditorFor(user=> user.Password)<br>

  @Html.LabelFor(user=> user.ConfirmPassword)
  @Html.EditorFor(user=> user.ConfirmPassword)<br>

  //image uploader?

    <input type="submit" class="btn btn my-2 my-sm-2 btn-outline-dark" value="Register" />
}
</div>

<p style="text-align: center">@Html.ActionLink("Back to accounts page", "Index")</p>