@{
    ViewData["Title"] = "Search Results";
    Layout = "_Layout";
}

@using MovieClient.Models

<h1>Advanced Search</h1>

@using (Html.BeginForm("", "Movies"))
{
    @Html.Label("Select parameter")
    @Html.DropDownList("param", new List<SelectListItem>
    {
        new SelectListItem{ Text="Genre", Value = "0"},
        new SelectListItem{ Text="Actor", Value = "1"}
    })
    @Html.TextBox("query", "") 

    <input type="submit" value="Search" />
}

<div class="container-movie">

    @foreach (Movie movie in Model)
    {
        <div class="poster">  
        @{
            string movie_link = @Url.Action("Details", "Movies", new {id = movie.Id});
            string poster_src = "";
            
            if (movie.Poster_Path == null)
            {
              poster_src = "https://www.altavod.com/assets/images/poster-placeholder.png";
            }
            else
            {
              poster_src = $"https://image.tmdb.org/t/p/w600_and_h900_bestv2/{movie.Poster_Path}";
            }
        }

            <a href=@movie_link>
            <div class="poster-image">
                <img src="@Url.Content(poster_src)" alt="Logo">
            </div>
            
            <div class="title-info">
                <blockquote class="blockquote text-justify">
                    @Html.ActionLink($"{movie.Title}", "Details", new {id = movie.Id})
                </blockquote>  
            </div>
        </div>
    }
</div>