@{
  ViewData["Title"] = $"Details for {@Model.Title}";
  Layout = "_Layout";
}

@using MovieClient.Models
@model MovieClient.Models.Movie

@{
  string poster_src = "";
    if (Model.Poster_Path == null)
    {
      poster_src = "https://www.altavod.com/assets/images/poster-placeholder.png";
    }
    else
    {
      poster_src = $"https://image.tmdb.org/t/p/w600_and_h900_bestv2/{Model.Poster_Path}";
    }
}

<div class="row">
  <div class="col-sm-3 align-self-start">
  <img src="@Url.Content(poster_src)" alt="Movie poster" width="275" class="img-fluid mx-auto img-thumbnail"/><br>
            @using (Html.BeginForm("AddToUser", "Movies"))
          {
            @Html.Hidden("inputId", Model.Id)
      <div style="text-align: center;"><input type="submit" value="Mark as watched"
          class="btn btn my-2 my-sm-2 btn-outline-dark" /></div>
          }
  </div>

  <div class="col-sm-8 align-self-center">
    <h2 class="title">@Model.Title</h2>
    <p class="lead">Release Date: @Model.Release_Date</p>
    @foreach (Genre genre in Model.Genres)
    {
      <span class="genre">@genre.Name</span>
    }
    <p class="desc text-justify">
      @Model.Overview
    </p>
    <p>You've rated this movie @ViewBag.movieReviews.Rating/10</p>

    <div class="card" style="width: 85%; margin: auto;">
      <div class="card-header">
        <h5 class="card-title">User Reviews</h5>
      </div>
      @* <div class="card-body"> *@
        <ul class="list-group list-group-flush">
          @using (Html.BeginForm("AddToUser", "Movies"))
        </ul>
        <h4> &nbsp;&nbsp; @Html.ActionLink("Review", "CreateReview", "Movies", new { inputId = Model.Id})</h4>
        @if(@ViewBag.movieReviews.Reviews != null)
        {
        <ul>
          @foreach (Review review in @ViewBag.movieReviews.Reviews)
          {
          <blockquote>@review.Text</blockquote>        
          }
        </ul>
        }
      </div>
    </div>
  </div>
</div>
