@{
  ViewData["Title"] = $"Details for {@Model.Title}";
}

@model MovieClient.Models.Movie

<h1>@Model.Title</h1>

<div>
<!-- something like this? -->
<!-- <img src="{$https://image.tmdb.org/t/p/w500/@Model.Poster}"> 
@Html.Raw("<img src='https://image.tmdb.org/t/p/w500")@Model.Poster @Html.Raw(">") -->
<p>Title: @Model.Title</p>
<p>Overview: @Model.Overview</p>
</div>

<p>@Html.ActionLink("Edit details", "Edit", new { id = @Model.MovieId })</p>
<p>@Html.ActionLink("Delete movie", "Delete", new { id = @Model.MovieId })</p>
<p>@Html.ActionLink("Return to all movies", "Index")</p>