@{
  ViewData["Title"] = $"Details for {@Model.Title}";
  Layout = "_Layout";
}

@using MovieClient.Models
@model MovieClient.Models.Movie

@{
string poster_src = $"https://image.tmdb.org/t/p/w600_and_h900_bestv2/{Model.Poster_Path}";
}

<div class="row">
  <div class="col-sm-3 align-self-start">
  <img src="@Url.Content(poster_src)" alt="Movie poster" width="275" class="img-fluid mx-auto img-thumbnail"/>
  </div>

  <div class="col-sm-8 align-self-center">
    <h2 class="display-5">@Model.Title</h2>
    <p class="lead">Release Date: @Model.Release_Date</p>
    <p>Rating: @ViewBag.movieReviews.Rating/10</p>
    @foreach (Genre genre in Model.Genres)
    {
      <li>@genre.Name</li>
    }
    <blockquote class="blockquote text-justify">
      <p>@Model.Overview</p>
    </blockquote>

    <div class="card" style="width: 75%; margin: auto;">
      <div class="card-header">
        <h5 class="card-title">User Actions</h5>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Rate / Review</li>
          @using (Html.BeginForm("AddToUser", "Movies"))
          {
            @Html.Hidden("inputId", Model.Id)
            <input type="submit" value="Mark as watched"/>
          }
        </ul>
        @Html.ActionLink("Review", "CreateReview", "Movies", new { inputId = Model.Id})
        @if(@ViewBag.movieReviews.Reviews != null)
        {
        <ul>
          @foreach (Review review in @ViewBag.movieReviews.Reviews)
          {
          <li>@review.Text</li>            
          }
        </ul>
        }
      </div>
    </div>
  </div>
</div>
