@{
  ViewData["Title"] = $"Details for {@Model.Title}";
}

@using MovieClient.Models

@{
string poster_src = $"https://image.tmdb.org/t/p/w600_and_h900_bestv2/{Model.Poster_Path}";
}
<img src="@Url.Content(poster_src)" alt="Logo" width="100" height="150" />
<h1>@Model.Title</h1>
<li>@Model.Overview</li>
<li>@Model.Release_Date</li>

@foreach (Genre genre in Model.Genres)
{
  <li>@genre.Name</li>
}


@* @using (Html.BeginForm("CreateOrUpdate", "Movies"))
{
  @Html.Hidden("MovieId", Model.MovieId)
  @Html.Label("Mark as watched")
  @Html.TextBoxFor(model => model.Title)
  <input type="submit" value="Create"/>
} *@