@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

@model MovieClient.Models.User
@using MovieClient.Models

<p>@Model.Name</p>

<div class="container2">
@{
  List<Review> review = ViewBag.UserReviews;
}

@foreach(UserMovie join in Model.JoinEntities)
{
  <div class="container-my-movie">
    @{
      string poster_src = $"https://image.tmdb.org/t/p/w600_and_h900_bestv2/{join.Movie.Poster_Path}";
    }
    <div class="my-poster-image">
      <img src="@Url.Content(poster_src)" alt="Logo">
    </div>
    <div class="my-movie-info">
      <blockquote class="blockquote text-justify">
          <div class="title">
            <p>@join.Movie.Title</p>
          </div>
          <hr>
          <div class="overview">
            <p>@join.Movie.Overview</p>
            @using (Html.BeginForm("RemoveMovieFromUser", "Movies"))
            {
              @Html.Hidden("joinId", @join.UserMovieId)
              <input type="submit" value="Delete"/>
            }
          </div>
          <hr>
          <div class="overview">
            @for (int i = 0; i < review.Count; i++)
            {
              if (join.Movie.Id == review[i].MovieId)
              {
                <p>My Review: @review[i].Text</p>
                @using (Html.BeginForm("RemoveReviewFromUser", "Movies"))
                {
                  @Html.Hidden("reviewId", @review[i].ReviewId)
                  <input type="submit" value="Delete"/>
                }
              }
            }
          </div>
      </blockquote>  
    </div>
  </div>
}
</div>
